* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* banner style */
.banner-img {
    height: 50%;
    width: 50%;
}

.banner {
    display: flex;
    align-items: center;
    background-color:  #C1C3C2;
    

}

.banner-description{
    margin-left: 50px;
    
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
    border: 0;
    padding: 15px 15px;
    align-items: center;
    border-radius: 5px;
    background: #FD6E0A;

}

/* failure section style */

.failure{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}
.failure-img{
    height: 50%;
    width: 50%;
    margin-top: 50PX;
}
.failure-description{
    margin-left: 50px;
    margin-top: 100px;

}

.failure-description ul li{
    list-style: none;
}

/*  my plan section style */
.plans-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-bottom: 35px;

}
.plans-description{
    color: #C1C3C2;
}

.plans-img{
    align-items: center;
}

.plans-container{
    display: flex;
    gap: 150px;
    align-items: center;
    margin-left: 50px;
}
/* footer style */

.footer-container{
    display: flex;
    margin-top: 50px;
    background-color: black;
    color: #FFFFFF;
    gap: 70px;
    align-items: center;
}
.future{
    height: 50%;
    padding-top: 70px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.future   {
    margin-top: 15px;
}
.future-description{
    margin-top: 15px;

}
.email{
    margin-top: 15px; 
}
.phone{
    margin-top: 15px; 
}
.icon-1{
    margin-top: 15px; 
}
.icon-2{
    margin-top: 15px; 
}
.icon-3{
    margin-top: 15px; 
}
.subscribe{
    margin-top: 20px;
}
.subs-title{
    padding-bottom: 10px;
}

.subs-btn{
    color:  #FD6E0A;
    font-weight: 700;
    height: 45px;
    margin-top: 5px;
    font-size: 20px;
    border: 0;
    padding: 15px 15px;
    align-items: center;
    border-radius: 5px;
    background:#FFFFFF;
    text-align: center;

}